<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Aulas</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/aulas.css' %}">

</head>
<body>
        <div class="centrar">
            <h1>Distribución de aulas</h1>
            <ul>
                <li><a href="{% url 'horarios' %}">Lunes</a></li>
                <li><a href="{% url 'horarios' %}">Martes</a></li>
                <li><a href="{% url 'horarios' %}">Miercoles</a></li>
                <li><a href="{% url 'horarios' %}">Jueves</a></li>
                <li><a href="{% url 'horarios' %}">Viernes</a></li>
            </ul>
        </div>
</body>
</html>